name: Discord Notification on Push

on: push

jobs:
  notify-discord:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get commit info
        id: commit_info
        run: |
          echo "COMMIT_AUTHOR=$(git log -1 --pretty=format:'%an')" >> $GITHUB_ENV
          echo "COMMIT_DATE=$(git log -1 --pretty=format:'%cd' --date=format:'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
          echo "COMMIT_MESSAGE=$(git log -1 --pretty=format:'%s')" >> $GITHUB_ENV
          echo "COMMIT_DESCRIPTION=$(git log -1 --pretty=format:'%b')" >> $GITHUB_ENV

      - name: Send message to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          COMMIT_AUTHOR: ${{ env.COMMIT_AUTHOR }}
          COMMIT_DATE: ${{ env.COMMIT_DATE }}
          COMMIT_MESSAGE: ${{ env.COMMIT_MESSAGE }}
          COMMIT_DESCRIPTION: ${{ env.COMMIT_DESCRIPTION }}
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{
                "username": "GitHub Action",
                "content": "**New Push Detected**\n**Author:** '${{ env.COMMIT_AUTHOR }}'\n**Date:** '${{ env.COMMIT_DATE }}'\n**Message:** '${{ env.COMMIT_MESSAGE }}'\n**Description:** '${{ env.COMMIT_DESCRIPTION }}'"
              }' $DISCORD_WEBHOOK_URL
